*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-one{
    font-family: "Inter", sans-serif;
}

.nav{
    max-width: 1600px;
    margin:auto;
    padding: 16px 120px 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.logo{
    width: 140px;
    height: 60px;
    margin: 16px 340px 16px 120px;
    gap:10px;
}

.menu{
width: 365px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;
list-style: none;
}

.btn{
background-color: #469165;
color: white;
padding: 12px 20px;
border:none;
border-radius: 4px;
font-weight: 600;
cursor: pointer;
}


.second-section{
    width: 1600px;
    height: 674px;
    max-width:fit-content;
    background: url(../assets/hero-bg.png);
    margin: 0px auto;
    text-align: center;
    padding: 115px 120px 180px 120px;

}

.element{
width: 183px;
height: 19px;
color: #469165;
font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
background-color: #FFFFFF;
 border-radius: 20px;
}

.second-section h1{
    font-size:56px;
    font-weight: 800;
    margin-bottom: 30px;
}
.hero h1 span{
    color: rgba(48, 184, 104, 1)
}
.second-section p{
    color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

.second-section-buttons {
    display: flex;
    gap: 17px ;
    justify-content: center;
}

.btn-vault{
gap: 10;
padding: 12px 20px;
border-radius: 4px;
background: #469165;
color: rgba(255, 255, 255, 1);
border: none;
cursor: pointer ;
}

.btn-outline {
    background: transparent;
    border: 1px solid white; 
    cursor: pointer;
    padding: 12px 16px 12px 16px;
}
.span{
    color: #30B868;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.third{
    text-align: center;
    padding: 120px 0;
    margin-bottom: 15px;

}

.third h2{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)))
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}

.third-cards{
    display: flex;
    .feature-card {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    border: 1px solid #f3f4f6; /* Subtle border from Figma */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
}
.subtitle{
    color:#627382;
}

.card .icon{
    background-color: red;
    margin: auto;
width: 60px;
height: 60px;
border-radius: 14px;
margin-bottom: 16px;
}
.card {
    border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
width: 322px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;
padding: 24px;
}



.fourth{
    padding: 120px 0;
}

.fourth-wrapper{
width: 1600px;
height: 840px;
display: flex;
align-items: center;
gap: 40;
padding: 120px;
}

.fourth-container h2{
font-size: 48px;
line-height: auto;
margin: 16px;
align: auto;
}

.label{
    color: #469165;
}

.fourth-container ul{
    list-style-type: none;
}

.fourth-container ul li{
    margin-bottom: 16px;
}

.fourth-container p{
    color: #627382;

font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
}



.fifth{
    background-color: #F7F6F2;
    padding: 2px 120px 120px 120px;
    text-align: center;
}
.fifth h2{
    margin: 80px 40px 16px 40px;
    font-size: 40px;
font-weight: 700;
line-height: 48px;
}
.fifth p{
    margin: 16px 40px 24px; 
    color: #627382;
}

.fifth btn {
    padding: 12px 46px 12px 16px;
    width: 132px;
height: 19px;
font-style: Semi Bold;
font-size: 160px;
font-weight: 600;
line-height: 19px;
}


.footer{
    background-color: #001931;
    
width: 1600px;
height: 348px;
color:white;
display: flex;
justify-content: space-between;
gap: 80;
padding: 120px 120px 30px 120px;
}

.footer-content{
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
}

.footer p{
    text-align:center;
    margin-top:40px;
    font-size:14px;
    color:#94A3B8
}
